.header {
    background-color: black;
    height: 40vh;
    align-items: center;
    justify-content: space-around;
}
.content {
    padding-top: 80px;
    padding-left: 40px;
    color: white;
}
.header-img {
    padding-top: 20px;
}
.holder {
    margin-top: 100px;
}